@media (max-width: 410px) {
  .cover h1 {
    font-size: 30px;
    font-weight: bold;
  }
  .lead {
    font-size: 16px;
  }
  .social .fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
  }
}

@media (max-width: 767px) {
  .nav li {
    text-align: center;
    font-size: 16px;
    float: left;
    width: 50%;
  }
  .idea-list li {
    font-size: 12pt;
  }
  #markdown h1, markdown-h1 {
    font-size: 22px;
    line-height: 1.5;
  }
  #markdown p, #markdown ul, #markdown li {
    font-size: 16px;
    line-height: 1.5;
  }
}
